Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Path conditions:
  cross-compile-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-next-server-alpine: (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**, .woodpecker/docker.yaml) or (any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**)
  publish-release-branch-server: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-server-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-agent-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-next-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  publish-release-branch-cli-alpine: any of: web/**, server/api/**, **/*.go, go.*, pipeline/schema/**, docker/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**, server/api/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  prettier: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  install-dependencies: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  formatcheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  typecheck: (any of: .woodpecker/web.yaml, web/**, server/api/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)

Add links to kubernetes docs for annotations and labels
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: deploy-preview

Collocate label and annotation env variable docs
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: deploy-preview

Reference env variable names for label and annotation config
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: deploy-preview

Fix env variable link anchor
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: deploy-preview

Translated using Weblate (Ukrainian)
  web/src/assets/locales/uk.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

docs: add Gitea publisher-golang plugin
  docs/plugins/woodpecker-plugins/plugins.json
Due: deploy-preview

docs: add `Gitea publisher-golang` plugin (#3691)
  docs/plugins/woodpecker-plugins/plugins.json
Due: deploy-preview

🎉 Release 2.5.0
  CHANGELOG.md
Due: none

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, install-dependencies, formatcheck, typecheck

Ignore golangci in pre-commit.ci
  .pre-commit-config.yaml
Due: none

Fix blog post link
  docs/docs/92-awesome.md
Due: deploy-preview

Remove broken link to gobook.io
  docs/docs/92-development/06-guides.md
Due: deploy-preview

Check for error in repo middleware (#3688)
  server/router/middleware/session/repo.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Fix blog post link (#3693)
  docs/docs/92-awesome.md
Due: deploy-preview

Remove broken link to gobook.io (#3694)
  docs/docs/92-development/06-guides.md
Due: deploy-preview

Update pod.go
  pipeline/backend/kubernetes/pod.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

Ability to set pod annotations and labels from step (#3609)
  pipeline/backend/kubernetes/backend_options.go
  pipeline/backend/kubernetes/backend_options_test.go
  pipeline/backend/kubernetes/flags.go
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/pod_test.go
  pipeline/frontend/yaml/linter/schema/schema.json
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

format
  server/forge/forgejo/forgejo.go
  server/forge/forgejo/types.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

undo
  server/api/users.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/types/oauth.go
  server/model/user.go
  server/services/manager.go
  server/store/datastore/user.go
  server/store/store.go
  web/src/assets/locales/en.json
  web/src/compositions/useAuthentication.ts
  web/src/router.ts
  web/src/views/Login.vue
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

undo
  server/api/login.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

Skip golangci in pre-commit.ci (#3692)
  .pre-commit-config.yaml
Due: none

Pin golang container to minor release
  .woodpecker/binaries.yaml
  .woodpecker/docker.yaml
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, lint-pipeline

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

update comment
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

update token
  server/api/login.go
  shared/token/token.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov, install-dependencies, formatcheck, typecheck

move property
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/91-migrations.md
  server/config.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/setup/setup.go
  server/model/forge.go
  server/services/setup.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

cleanup
  .gitpod.yml
  .woodpecker/binaries.yaml
  .woodpecker/docker.yaml
  .woodpecker/docs.yaml
  .woodpecker/test.yaml
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, lint-pipeline

Pin golang container to minor release (#3696)
  .gitpod.yml
  .woodpecker/binaries.yaml
  .woodpecker/docker.yaml
  .woodpecker/docs.yaml
  .woodpecker/test.yaml
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, lint-pipeline

make retry count of config fetching form forge configure
  cmd/server/flags.go
  server/services/config/combined_test.go
  server/services/config/forge.go
  server/services/config/forge_test.go
  server/services/setup.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

use wayback machine to fix offline link
  docs/docs/92-awesome.md
Due: deploy-preview

docs: bump deps
  docs/package.json
  docs/pnpm-lock.yaml
Due: deploy-preview

use wayback machine to fix offline link (#3700)
  docs/docs/92-awesome.md
Due: deploy-preview

Add nix flake for dev shell
  flake.lock
  flake.nix
Due: none

Fix misspels and add docu
  cmd/server/flags.go
  docs/docs/30-administration/10-server-config.md
  server/services/config/forge.go
  server/services/setup.go
Due: cross-compile-server, publish-next-server, publish-next-server-alpine, publish-release-branch-server, publish-release-branch-server-alpine, publish-next-agent, publish-next-agent-alpine, publish-release-branch-agent, publish-release-branch-agent-alpine, publish-next-cli, publish-next-cli-alpine, publish-release-branch-cli, publish-release-branch-cli-alpine, deploy-preview, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, prettier, sqlite, postgres, mysql, codecov

flake: enhance frontend tools and sort backend
  flake.nix
Due: none
